input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
    }
    trackpoint {
    }
}

/-output "eDP-1" {
    mode "1920x1080@144.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}

spawn-at-startup "waybar"

hotkey-overlay {
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "looks.kdl"
include "animations.kdl"
include "binds.kdl"

