input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
        scroll-factor 0.5
        accel-speed 0.5
        accel-profile "adaptive"
    }
    mouse {
    }
    trackpoint {
    }
}

output "eDP-1" {
    mode "1920x1080@144.001"
    scale 1
    transform "normal"
    position x=1280 y=0

    // hot-corners {
    //     top-left
    // }
    variable-refresh-rate on-demand=true
}

hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "sudo" "nvidia-lock-clocks"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

include "looks.kdl"
include "animations.kdl"
include "binds.kdl"

