layout {
    gaps 5
    background-color "transparent"
    center-focused-column "never"
    always-center-single-column
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    
    default-column-width { 
        proportion 0.5
    }
    
    border {
        off
        width 2
        active-color   "#707070"
        inactive-color "#d0d0d0"
        urgent-color   "#cc4444"
    }
    
    focus-ring {
        off
        width 1
        active-color   "#808080"
        inactive-color "#505050"
    }
    
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    
    struts { }
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
    hide-when-typing
}

overview {
    zoom 0.75
}

window-rule {
    geometry-corner-radius 16
    clip-to-geometry true
}

window-rule { 
    match is-active=false
    opacity 0.95
}

window-rule {
    match app-id="^.blueman-manager-wrapped$"

    open-floating true
    default-column-width { proportion 0.75; }
    default-window-height { proportion 0.75; }
}

window-rule {
    match app-id="^kitty$"

    background-effect {
        blur true
    }
}

blur {
    on
    passes 2
    offset 3
}

spawn-at-startup "waypaper" "--restore"
